<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>BioPhil</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Unite Gallery -->
  <script type='text/javascript' src='unitegallery/js/jquery-11.0.min.js'></script> 
  <script type='text/javascript' src='unitegallery/js/unitegallery.min.js'></script>  

  <link rel='stylesheet' href='unitegallery/css/unite-gallery.css' type='text/css' />
  
  <script type='text/javascript' src='unitegallery/themes/tiles/ug-theme-tiles.js'></script>

</head>

<body>
  <!-- Add your site or application content here -->  
  <div id="gallery" style="display:none;">
    <a href="http://unitegallery.net"><img src="img/gallery/img1.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img2.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img3.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img4.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img5.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img6.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img7.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img8.jpg" alt="A Very Cute Image" style="display:none"></a>
    <a href="http://unitegallery.net"><img src="img/gallery/img9.jpg" alt="A Very Cute Image" style="display:none"></a>
  </div>

  <!-- Content End -->
  <script type="text/javascript">

    jQuery(document).ready(function(){

      jQuery("#gallery").unitegallery();

    });
    
  </script>

  </body>
</html>