{% extends 'base.html' %}
{% load static %}

{% block title %}
Gallery
{% endblock %}

{% block gallery %}
<!-- Unite Gallery -->
<script type='text/javascript' src="{% static 'webapp/unitegallery/js/jquery-11.0.min.js' %}"></script> 
<script type='text/javascript' src="{% static 'webapp/unitegallery/js/unitegallery.min.js' %}"></script>  

<link rel='stylesheet' href="{% static 'webapp/unitegallery/css/unite-gallery.css' %}" type='text/css' />
<link rel='stylesheet' href="{% static 'webapp/css/gallery.css' %}" type='text/css'/>

<script type='text/javascript' src="{% static 'webapp/unitegallery/themes/tiles/ug-theme-tiles.js' %}"></script>
{% endblock %}

{% block body %}
  <!-- Add your site or application content here -->  

  {% for module in modules %} 
    <div class = 'gallery' type = 'display:none;'>
        <h3>{{ module.title }}</h3>
        {% for img in images|get_item:module.id %}
          <a data-toggle='modal' data-target='#myModal-{{ img.id }}'><img class='thumbnail' id="image-{{ img.id }}" src="{% get_media_prefix %}{{ img.image }}" alt="{{ img.img_description }}"></a>
          
          <div class='modal' id="myModal-{{ img.id }}">
            <span class="close" data-dismiss='modal'>×</span>
            <img class="modal-content" src='{% get_media_prefix %}{{ img.image }}'>
            <h3 id='caption'>{{ img.img_description }}</h3>
          </div>
        
        {% endfor %}

    </div>
  {% endfor %}  


  <!-- Content End -->
  <script type="text/javascript">

    jQuery(document).ready(function(){

      jQuery("#gallery").unitegallery();

    });
    
  </script>
{% endblock %}