{% extends 'base.html' %}

{% block body %}
	{% ifequal teacher.access_object.user_type "Teacher" %}
		<h2>Hi, {{ teacher.get_full_name }} from {{ teacher.access_object.university }}!</h2>
		{% if used_access_codes.all or unused_access_codes.all %}
			<h3>Used Access Codes for Your Students</h3>
			{% if used_access_codes.all %}
				<ul>
					{% for access_code in used_access_codes %}
						<li>{{ access_code }} - used by {{ access_code.user.get_full_name }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<h4>None of your access codes have been used yet!</h4>
			{% endif %}
			<h3>Unused Access Codes for Your Students</h3>
			{% if unused_access_codes.all %}
				<ul>
					{% for access_code in unused_access_codes %}
						<li>{{ access_code }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<h4>None of your access codes are unused!</h4>
			{% endif %}
		{% else %}
			<h4>Oh no, you haven't generated access codes yet. Generate access codes for your students <a href="{% url 'generate_access_codes' %}">here</a></h4>
		{% endif %}
		{% if used_teacher_access_codes.all or unused_teacher_access_codes.all %}
			<h3>Used Access Codes for Your Colleagues</h3>
			{% if used_teacher_access_codes.all %}
				<ul>
					{% for access_code in used_teacher_access_codes %}
						<li>{{ access_code }} - used by {{ access_code.user.get_full_name }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<h4>None of your access codes for your teachers have been used yet!</h4>
			{% endif %}
			<h3>Unused Access Codes for Your Colleagues</h3>
			{% if unused_teacher_access_codes.all %}
				<ul>
					{% for access_code in unused_teacher_access_codes %}
						<li>{{ access_code }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<h4>None of your access codes for your teachers are unused!</h4>
			{% endif %}
		{% else %}
			<h4>You haven't generated access codes for your fellow teachers yet. Generate access codes for your colleagues <a href="{% url 'generate_access_codes' %}">here</a></h4>
		{% endif %}
	{% else %}
		<h2>Only teachers are allowed to access this page. Go back to the home page <a href="{% url 'index' %}">here</a>.</h2>
	{% endifequal %}
{% endblock %}