{% extends 'base.html' %}

{% block body %}
	{% ifequal teacher.access_object.user_type "Teacher" %}
		<h2>Here are the access codes that you generated and are still unused.</h2>
		<h4>Hi, {{ teacher.get_full_name }} from {{ teacher.access_object.university }}!</h4>
		{% if access_codes.all %}
			<ul>
				{% for access_code in access_codes %}
					<li>{{ access_code }}</li>
				{% endfor %}
			</ul>
		{% else %}
			<h4>Oh no, you haven't generated access codes yet. Generate access codes for your students <a href="{% url 'generate_access_codes' %}">here</a></h4>
		{% endif %}
	{% else %}
		<h2>Only teachers are allowed to access this page. Go back to the home page <a href="{% url 'index' %}">here</a>.</h2>
	{% endifequal %}
{% endblock %}