{% extends 'base.html' %}
{% load static %}
{% load user_submission %}

{% block title %}
Modules
{% endblock %}

{% block body %}
{% if message  %}
  {{ message }}
{% endif %}
<body data-spy="scroll" data-target="#modulesList" data-offset="0" class="scrollspy-example">
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <!-- Insert Navbar Here! -->
  <div class="container-fluid py-md-4 px-md-4 px-0 row mx-auto justify-content-center" >
    <div class="col-md-3 px-md-4 px-3">
      <div id="modulesList" class="list-group position-sticky" style="top: 40px">
        {% for module in modules_list %}
        <a class="list-group-item list-group-item-action" href="#list-item-{{ module.pk }}">{{ module.title }}</a>
        {% endfor %}
      </div>
    </div>

   <div class="col-md-9 px-md-4 px-3 my-md-0 my-4">
      <div class="bg-light rounded p-4">
        {% for module in modules_list %}
          <h3 class="text-dark font-weight-bold" id="#list-item-{{ module.pk }}">{{ module.title }}</h3>
          <h5 class="text-secondary">{{ module.created_at }}</h5>
          <p>{{ module.content }}</p>
          {% if user.access_object.user_type == "Student" %}
          <div class="container-fluid p-0 mb-3">
            {% user_submission user module as submission %}
            {% if submission %}
              <!-- 
              Show Below when student has responded. 
              Replace "Add Response" with "View Response" if user has response. if-else statement.
              -->
              <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#viewResponseModal{{ submission.id }}">View Response</button>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#editResponseModal{{ submission.id }}">Edit Response</button>
            {% else %}
              <span class="mr-2 text-uppercase align-middle">Actions:</span><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#addResponseModal{{ submission.id }}">Add Response</button>
            {% endif %}
          </div>
           {% endif %}

          <!-- Add Response Modal -->
          <div class="modal fade" id="addResponseModal{{ submission.id }}" tabindex="-1" role="dialog" aria-labelledby="addResponseModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addModalLabel{{ submission.id }}">Add Response</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="addResponseCloseButton">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <textarea name="submission-answer" class="form-control" id="responseTextArea{{ submission.id }}" rows="6"></textarea>
                  </div>

                  <div class="modal-footer">
                    <input type="number" name="module-id" value="{{ module.id }}" hidden>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="moduleResponseBack{{ submission.id }}">Close</button>
                    <button type="submit" name= "add-response" class="btn btn-primary" id="moduleResponseSave{{ submission.id }}">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- View Response Modal -->
          <div class="modal fade" id="viewResponseModal{{ submission.id }}" tabindex="-1" role="dialog" aria-labelledby="viewResponseModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="responseModalLabel{{ submission.id }}">{{ submission.module }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="responseCloseButton">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <textarea name="submission-answer" class="form-control" id="responseTextArea{{ submission.id }}" rows="6" readonly>{{ submission.answer }}</textarea>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" id="moduleResponseBack{{ submission.id }}">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Edit Response Modal -->                                                                               
          <div class="modal fade" id="editResponseModal{{ submission.id }}" tabindex="-1" role="dialog" aria-labelledby="editResponseModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="responseModalLabel{{ submission.id }}">{{ submission.module }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="responseCloseButton{{ submission.id }}">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <textarea name="submission-answer" class="form-control" id="responseTextArea{{ submission.id }}" rows="6" >{{ submission.answer }}</textarea>
                  </div>
                  <input type="hidden" name="submission-id" value="{{ submission.pk }}">
                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="moduleResponseBack{{ submission.id }}">Close</button>
                    <button type="submit" name= "edit-response" class="btn btn-primary" id="moduleResponseSave{{ submission.id }}">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!-- Downloads -->
          <div class="accordion mb-4" id="downloadAccordion1">
            <div class="card">
              <div class="card-header p-0" id="downloadHeading1">
                <h5 class="mb-0">
                  <button class="btn btn-link text-dark font-weight-bold" type="button" data-toggle="collapse" data-target="#downloadCollapse{{ module.pk }}" aria-expanded="false" aria-controls="downloadCollapse1">
                    Downloads
                  </button>
                </h5>
              </div>

              <div id="downloadCollapse{{ module.pk }}" class="panel-collapse collapse" aria-labelledby="downloadHeading1" data-parent="#downloadAccordion1">
                <div class="card-body row justify-content-around">
                  {% for download in module.downloads.all %}
                    <a class="col-sm mx-2" href="{{ download.file.url }}">
                      <div class="bg-light border border-muted rounded px-2 py-3 mb-3 row">
                        <div class="col-sm-3 px-0">
                          {% with 'webapp/img/icons/'|add:download.extension|add:'.png' as image_static %}
                            <img src="{% static image_static %}" height="70" width="70" alt="">
                          {% endwith %}
                        </div>
                        <div class="col-sm-9">
                          <div class="row">
                            <strong class="text-truncate">{{ download.file.name }}</strong>
                          </div>
                          <div class="row">
                            <span class="text-muted">{{ download.created_at }}</span>
                          </div>
                          <div class="row">
                            <span class="text-muted">{{ download.extension }}, {{ download.file_size | filesizeformat }}</span>
                          </div>
                        </div>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endblock %}