{% extends 'base.html' %}

{% load static %}

{% block title %}
BioPhil
{% endblock %}

{% block body %}
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <!-- Insert Navbar Here! -->

  {% if messages %}
    <p>{{ messages }}</p>
    {% if submit_form.errors %}
      {{ submit_form.errors }}
    {% endif %}
  {% endif %}

  <div class="container-fluid py-4 px-md-4 px-0 row mx-auto justify-content-center">
    <div class="col-md-5 px-md-4 px-3">
      <h1 class="font-weight-bold my-0 mb-2 text-dark">ACCOUNT SETTINGS</h1>
      <div class="bg-light rounded p-4">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</a>
            <a class="nav-item nav-link" id="nav-update-email-tab" data-toggle="tab" href="#nav-update-email" role="tab" aria-controls="nav-update-email" aria-selected="false">Update Email</a>
            <a class="nav-item nav-link" id="nav-change-password-tab" data-toggle="tab" href="#nav-change-password" role="tab" aria-controls="nav-change-password" aria-selected="false">Change Password</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <h4 class="font-weight-bold text-dark mt-3">{{ user.get_full_name }}</h4>
            <h5 class="text-secondary">{{ user.access_object.user_type }}</h5>
            <form>
              <fieldset disabled>
                <div class="form-group">
                  <label for="schoolField">School</label>
                  <input type="text" id="schoolField" class="form-control" placeholder="{{ user.access_object.university }}">
                </div>
                {% ifequal user.access_object.user_type "Student" %}
                  <div class="form-group">
                    <label for="instructorField">Instructor</label>
                    {% if user.access_object.creator %}
                      <input type="text" id="instructorField" class="form-control" placeholder="{{ user.access_object.creator.get_full_name }}">
                    {% else %}
                      <input type="text" id="instructorField" class="form-control" placeholder="N/A">
                    {% endif %}
                  </div>
                {% endifequal %}
                <div class="form-group">
                  <label for="joinDateField">Join Date</label>
                  <input type="text" id="joinDateField" class="form-control" placeholder="{{ user.created_at.date }}">
                </div>
                <div class="form-group">
                  <label for="emailAddressField">Email Address</label>
                  <input type="text" id="emailAddressField" class="form-control" placeholder="{{ user.email }}">
                </div>
              </fieldset>
            </form>
          </div>
          <div class="tab-pane fade" id="nav-update-email" role="tabpanel" aria-labelledby="nav-update-email-tab">
            <div class="pt-3 px-0 container-fluid">
              <form method="post" id="change-email-form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="currentEmail">Current email</label>
                  {% if change_email.old_email.errors %}
                    {{ change_email.old_email.errors }}
                  {% endif %}
                  {{ change_email.old_email }}
                </div>
                <div class="form-group">
                  <label for="newEmail">New email</label>
                  {% if change_email.new_email.errors %}
                    {{ change_email.new_email.errors }}
                  {% endif %}
                  {{ change_email.new_email }}
                </div>
                <div class="form-group">
                  <label for="newEmail2">Confirm new email</label>
                  {% if change_email.confirm_email.errors %}
                    {{ change_email.confirm_email.errors }}
                  {% endif %}
                  {{ change_email.confirm_email }}
                </div>
                <div class="container-fluid text-right px-0">
                  <button type="reset" class="btn btn-secondary">Reset</button>
                  <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#emailConfirmationModal">Submit</button>
                </div>
                <!-- Email confirmation modal -->
                <div class="modal fade" id="emailConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="emailConfirmationModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="emailConfirmationModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to update your email address? <strong>This action cannot be undone.</strong>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Go back</button>
                        <button type="submit" class="btn btn-primary">Submit changes</button>
                      </div>
                    </div>
                  </div>
                </div>
               </form>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-change-password" role="tabpanel" aria-labelledby="nav-change-password-tab">
            <div class="pt-3 px-0 container-fluid">
              <form method="post" id="change-password-form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="currentPassword">Current password</label>
                  {% if change_password.old_password.errors %}
                    {{ change_password.old_password.errors }}
                  {% endif %}
                  {{ change_password.old_password }}
                </div>
                <div class="form-group">
                  <label for="newPassword">New password</label>
                  {% if change_password.new_password1.errors %}
                    {{ change_password.new_password1.errors }}
                  {% endif %}
                  {{ change_password.new_password1 }}
                </div>
                <div class="form-group">
                  <label for="newPassword2">Confirm new password</label>
                  {% if change_password.new_password2.errors %}
                    {{ change_password.new_password2.errors }}
                  {% endif %}
                  {{ change_password.new_password2 }}
                </div>
                <div class="container-fluid text-right px-0">
                 <button type="reset" class="btn btn-secondary">Reset</button>
                 <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#passwordConfirmationModal">Submit</button>
                </div>
                
                <!-- Password confirmation modal -->
                <div class="modal fade" id="passwordConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="passwordConfirmationModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="passwordConfirmationModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to change your password? <strong>This action cannot be undone.</strong>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Go back</button>
                        <button type="submit" class="btn btn-primary confirm-password" >Submit changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    {% ifequal user.access_object.user_type "Student" %}
    <div class="col-md-7 px-md-4 px-3 my-md-0 my-4">
      <h1 class="font-weight-bold my-0 mb-2 text-dark">SUBMISSIONS</h1>
      <div class="bg-light rounded p-4 table-responsive-sm">
        <table class="table my-0">
          <thead class="thead-light" style="background-color: #353F4B">
            <tr>
              <th scope="col">#</th>
              <th scope="col" style="width:65%">Module Name</th>
              <th scope="col"></th>
              <th scope="col" style="width:25%">Last Updated on</th>
            </tr>
          </thead>
          <tbody>
            {% for submission in submissions_list %}
              <tr> 
                <td scope="row">{{ forloop.counter }}</td>
                <td><a href="{{ submission.file.url }}" target="_blank">{{ submission.module }}</a></td>
                <td>
                  <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#editResponseModal{{ submission.id }}">Update</button>
                </td>
                <td>{{ submission.updated_at|date:'n-j-Y, H:i' }} GMT+8</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% for submission in submissions_list %}
        <!-- Edit Response Modal -->                                                                                       
        <div class="modal fade" id="editResponseModal{{ submission.id }}" tabindex="-1" role="dialog" aria-labelledby="editResponseModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="responseModalLabel{{ submission.id }}">{{ submission.module }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="responseCloseButton{{ submission.id }}">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-header">
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                  </div>
                  <div class="custom-file">
                    {{ submit_form.file }}
                    <label class="custom-file-label text-truncate" for="inputGroupFile">Choose file</label>
                  </div>
                </div>
                <small class="form-text text-muted mb-3">Maximum size for new files: 25MB, maximum attachments: 1</small>
                <div class="alert alert-warning alert-dismissible mb-0" role="alert">
                  <small>If you need to submit multiple files, compress them all into one zip file. If you're unfamiliar with it, <a href="https://support.microsoft.com/en-ph/help/14200/windows-compress-uncompress-zip-files" class="alert-link">follow this guide.</a></small>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <input type="hidden" name="submission-id" value="{{ submission.pk }}">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="moduleResponseBack{{ submission.pk }}">Close</button>
                <button type="submit" name= "edit-response" class="btn btn-primary" id="moduleResponseSave{{ submission.pk }}">Save changes</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <script>
    //https://stackoverflow.com/a/48942822
    $('.custom-file-input').on('change',function(){
      let fileName = $(this).val().split('\\').pop(); 
      $(this).next('.custom-file-label').addClass("selected").html(fileName);
    })
  </script>

  {% endifequal %}
{% endblock %}