{% extends 'base.html' %}

{% block body %}
{% csrf_token %}
    <h2>Confirm Details</h2>
    <p>First Name: {{ first_name }}</p>
    <p>Last Name: {{ last_name }}</p>
    <p>Email: {{ email_add }}</p>
    <p>Access Code Type: {{ usertype }} </p>
    <p>University: {{ school }} </p>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="confirm_reg" hidden>
        <button type="submit"> Confirm Registration</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="go_back" hidden>
        <button type="submit"> Go Back</button>
    </form>

{% endblock %}