{% extends 'base.html' %}

{% block body %}
  {% ifequal user.access_object.user_type "Teacher" %}
  <div class="container-fluid py-4 px-md-4 px-0 row mx-auto justify-content-center">
    <div class="col-md-11">
      <h1 class="font-weight-bold my-0 mb-2 text-dark">USER SUBMISSIONS</h1>
      <div class="bg-light rounded p-4 table-responsive-sm">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="filterLabel">Filter</span>
          </div>
          <input type="search" class="form-control light-table-filter" placeholder="Type anything here..." aria-label="Filter" data-table="table" aria-describedby="filterLabel">
        </div>
        <table class="table table-hover sortable" id="submissionsTable">
          <thead class="thead-light" style="background-color: #353F4B">
            <tr>
              <th scope="col" style="width:35%">Module</th>
              <th scope="col" style="width:20%">User</th>
              <th scope="col" style="width:25%">University</th>
              <th scope="col" style="width:20%">Date of Submission</th> 
            </tr>
          </thead>
          <tbody>
            <tr> 
              <td scope="row"><a href="#">Module #1</a></td>
              <td>Kurt de Leon</td>
              <td>Ateneo de Manila University</td>
              <td>April 21, 2018 / 10:58 AM</td>
            </tr>
            <tr> 
              <td scope="row"><a href="#">Module #1</a></td>
              <td>Miles Davis</td>
              <td>University of the Philippines</td>
              <td>March 5, 2018 / 9:21 PM</td>
            </tr>
            <tr> 
              <td scope="row"><a href="#">Module #3</a></td>
              <td>Kurt de Leon</td>
              <td>Ateneo de Manila University</td>
              <td>May 5, 2018 / 2:00 PM</td>
            </tr>
            <tr> 
              <td scope="row"><a href="#">Module #4</a></td>
              <td>Ryo Fukui</td>
              <td>De La Salle University</td>
              <td>January 4, 2019 / 5:30 PM</td>
            </tr>
            <!-- {% for submission in submissions_list %}
            <tr> 
              <td>{{ submission.module }}</td>
              <td>{{ submission.user.get_full_name }}</td>
              <td>{{ submission.user.access_object.university }}</td>
              <td>{{ submission.answer }}</td>
            </tr>
            {% endfor %} -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    /* Light Table Filter by Chris Coyier */
    (function(document) {
      'use strict';

      var LightTableFilter = (function(Arr) {

        var _input;

        function _onInputEvent(e) {
          _input = e.target;
          var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
          Arr.forEach.call(tables, function(table) {
            Arr.forEach.call(table.tBodies, function(tbody) {
              Arr.forEach.call(tbody.rows, _filter);
            });
          });
        }

        function _filter(row) {
          var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
          row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
        }

        return {
          init: function() {
            var inputs = document.getElementsByClassName('light-table-filter');
            Arr.forEach.call(inputs, function(input) {
              input.oninput = _onInputEvent;
            });
          }
        };
      })(Array.prototype);

      document.addEventListener('readystatechange', function() {
        if (document.readyState === 'complete') {
          LightTableFilter.init();
        }
      });

    })(document);
  </script>
  {% endifequal %}
{% endblock %}