{% extends "base.html" %}
{% block body %}

  <div class="container-fluid py-md-4 px-md-4 px-0 row mx-auto justify-content-center">
    <div class="col-md-3 px-md-4 px-3">
      <h1 class="font-weight-bold my-0 mb-2 text-dark text-center">Forgot Password :: BioPhil</h1>
      <!-- Form -->
      <div class="bg-light rounded p-4">
        <form method="post" id="register-form">
          {% csrf_token %}
          <div class="form-group">
            <label for="emailField">Email</label>
            {% if form.email.errors %}
            <div class="invalid-feedback">
              {{ form.email.errors }}
            </div>
            {% endif %}
            {{ form.email }}
          </div>       
          <div class="text-center mb-2"><button type="submit" class="btn btn-dark">Request Password Reset</button></div>
        </form>
      </div>
    </div>      
  </div>

{% endblock %}