{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'webapp/css/main.css' %}">
  {% block navbar %}
  {% endblock %}
</head>
<body>
	<p><a href="{% url 'index' %}">Home</a></p>
	{% if request.user.is_authenticated %}
		<p>Hello, <a href="{% url 'profile' %}">{{ request.user.get_full_name }}</a>!</p>
		<p><a href="{% url 'logout' %}">Log out</a></p>
	{% else %}
		<p><a href="{% url 'login' %}">Log in</a></p>
		<p><a href="{% url 'register' %}">Sign up</a></p>
	{% endif %}
	{% block body %}
	{% endblock %}

	<script src="{% static 'webapp/js/vendor/modernizr-3.6.0.min.js' %}"></script>
	<script src="{% static 'webapp/https://code.jquery.com/jquery-3.3.1.min.js' %}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write("<script src='{% static 'webapp/js/vendor/jquery-3.3.1.min.js' %}'><\/script>")</script>
	<script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'webapp/js/plugins.js' %}"></script>
	<script src="{% static 'webapp/js/main.js' %}"></script>
</body>
</html>
